body{
    background-color: rgb(196, 77, 255);
    margin: 0;
}
/* adjusting the page to show fractions instead of px to make it easier to math for the grid-columns*/
.homepage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 20px;

}
header {
    grid-column: span 3;
    text-align: center;
    border-bottom: 3px solid #88ff4d;

}
nav {
    padding: 30px;
    border-right: 1px solid #88ff4d
}