body{
    background-color: rgb(170, 129, 252);
    font-family: 'Courier New', Courier, monospace;
}
h1 {width: px;
    border: 5px solid rgb(80, 8, 94);
    padding: 50px;
    margin: 0;
    background-color: rgb(241, 247, 180);
}

