body{
    background-color: rgb(172, 211, 233);
    margin: 0;
}
/* adjusting the page to show fractions instead of px to make it easier to math for the grid-columns*/
.homepage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 20px;

}
header {
    grid-column: span 3;
    text-align: center;
    border-bottom: 3px solid #6a40db;
    text-shadow: 3px 2px 2px #f324bf;
    background-color: #a0a4cc;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
nav {
    grid-column: span 3;
    font-size: 30px;
    color: #0a0220;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
ul {
    list-style-type: none;
}
.mission {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.motto {
    grid-column: span 3;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#110338;
    text-shadow: 1px 2px 2px #83aeee;
}
.aboutpage {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 20px;
}
.know {
    grid-column: span 3; 
    text-align: center;
    font-size: 20px;
    overflow-wrap: normal;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.hobby {
   grid-area: 3 / 2;
    text-align: center;
    font-size: 25px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1 {
    text-shadow: 3px 2px 2px #6a40db;
    font-size: 40px;
}
img {
    height: 150px;
    border-radius: 50%;
}
h2 {
    font-size: 40px;
    text-shadow: 3px 2px 2px #9d7cf8;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h3 {
    font-size: 30px; 
}
.portfoliopage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.pp {
    grid-column: span 3;
    text-align: center;
}

/* switching from grid to flex box for this last page */
/* decided to go back to grid styling */
.contactpage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.personalinfo {
    grid-column: span 3;
    font-size: 30px;
    text-align: center;
}
.form {
    grid-column: span 3;
    text-align: center;
    font-size: 30px;
}
